<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Categoría</title>
    <script async type="module" src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script async type="module" src="../js/categorias.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/categorias.css">

</head>

<body>
    <header>
        <div class="logo-container">
            <img loading="lazy" id="logo" width="110" height="80" src="../img/logo.png" alt="Logo catavinos">
            <h1>Jerez de la Frontera<i class="fa-solid fa-heart icon"></i></h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-regular fa-font-awesome icon"></i>Inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Categorías</h1>
        <ul id="categorias">
            <li>
                <a class="cat-link" href="detalle1.html">
                    <div class="link-img" id="historia-card">
                        <p id="historia-title">Historia</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="cat-link" href="detalle2.html">
                    <div class="link-img" id="circuito-card">
                        <p id="historia-title">Circuito</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="cat-link" href="detalle3.html">
                    <div class="link-img" id="bodega-card">
                        <p id="historia-title">Bodegas</p>
                    </div>
                </a>
            </li>
        </ul>
    </main>
    <footer class="footer">
        <img loading="lazy" id="logo" width="110" height="80" src="../img/logo.png" alt="Logo del footer">
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i>Portada</a></li>
                <li><a href="./presentacion.html"> <i class="fa-regular fa-face-smile icon"></i>Presentación</a>
                </li>
                <li><a href="./categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
                <li><a href="./enlaces.html"><i class="fa-solid fa-link icon"></i>Enlaces</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>