<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Detalle 2 - Circuitos de carreras en Jerez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async type="module" src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <img loading="lazy" id="logo" width="110" height="80" src="../img/logo.png" alt="Logo catavinos">
            <h1>Jerez de la Frontera<i class="fa-solid fa-heart icon"></i></h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-regular fa-font-awesome icon"></i>Inicio</a></li>
                <li><a href="categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="article">
            <h2>Circuitos de carreras en Jerez</h2>
            <p>La ciudad de Jerez es conocida en todo el mundo por su pasión por los deportes de motor, especialmente
                las
                carreras de motos y coches. Jerez cuenta con dos circuitos de carreras importantes: el Circuito de
                Jerez-Ángel Nieto y el Circuito Ascari.</p>
            <h3>Circuito de Jerez-Ángel Nieto</h3>
            <img width="600" height="400" src="../img/circuito.webp" alt="Circuitos de carreras en Jerez">
            <p>El circuito de Jerez ha sido testigo de muchos momentos emocionantes en la historia de las carreras de
                motos
                y coches, desde victorias impresionantes hasta momentos de tragedia. Aquí hay algunas curiosidades y
                datos
                interesantes sobre el circuito:</p>
            <ul>
                <li>En 1990, el piloto estadounidense Kevin Schwantz logró una victoria épica en el Gran Premio de
                    España de Motociclismo, superando a su rival Wayne Rainey en la última curva del circuito. Este
                    momento es recordado como una de las mayores victorias en la historia del circuito de Jerez.</li>
                <li>En 1997, el piloto alemán Michael Schumacher ganó el Gran Premio de España de Fórmula 1 en el
                    Circuito de Jerez, asegurando así su segundo título mundial.</li>
                <li>En 2005, el Gran Premio de España de Motociclismo en Jerez fue el primer Gran Premio en la historia
                    en el que todos los pilotos clasificados en las primeras cuatro posiciones fueron españoles. Los
                    pilotos Dani Pedrosa, Sete Gibernau, Carlos Checa y Toni Elías lograron un resultado histórico para
                    el motociclismo español.</li>
                <li>En 2018, el circuito de Jerez cambió su nombre oficial a Circuito de Jerez-Ángel Nieto, en homenaje
                    al legendario piloto español de motociclismo Ángel Nieto, quien falleció en 2017.</li>
            </ul>
            <img loading="lazy" width="600" height="400" src="../img/Alonso.webp" alt="Alonso en el circuito de Jerez">
            <p>En conclusión, el Circuito de Jerez-Ángel Nieto es uno de los circuitos más importantes de España, con
                4,4 km de
                longitud y numerosos momentos emocionantes en su historia, incluyendo la victoria de Michael Schumacher
                en 1997 y el cambio de nombre en 2018 en honor a Ángel Nieto.</p>
            <img loading="lazy" width="600" height="400" src="../img/Meta.webp"
                alt="Línea de meta del circuito de Jerez">
        </section>
        <div class="other-categories">
            <a href="detalle1.html"><i class="fa-solid fa-angle-left"></i> Historia de Jerez</a>
            <a href="detalle3.html">Bodegas de Jerez <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </main>
    <footer class="footer">
        <img loading="lazy" id="logo" width="110" height="80" src="../img/logo.png" alt="Logo del footer">
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i>Portada</a></li>
                <li><a href="./presentacion.html"> <i class="fa-regular fa-face-smile icon"></i>Presentación</a>
                </li>
                <li><a href="./categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
                <li><a href="./enlaces.html"><i class="fa-solid fa-link icon"></i>Enlaces</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>