<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Detalle 1 - Jerez de la Frontera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async type="module" src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <img loading="lazy" id="logo" width="110" height="80" src="../img/logo.png" alt="Logo catavinos">
            <h1>Jerez de la Frontera<i class="fa-solid fa-heart icon"></i></h1>
        </div>

        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-regular fa-font-awesome icon"></i>Inicio</a></li>
                <li><a href="categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="article">
            <h2>Jerez de la Frontera</h2>

            <p>Jerez de la Frontera es una ciudad española situada en la provincia de Cádiz, en la comunidad autónoma de
                Andalucía. Conocida por sus vinos, flamenco y caballos, Jerez es una ciudad con un rico patrimonio
                histórico
                y cultural.</p>
            <h3>Historia</h3>
            <img width="500" height="400" src="../img/jerez.webp" alt="Jerez de la Frontera">
            <p>La ciudad de Jerez tiene una larga historia que se remonta a la época fenicia. A lo largo de los siglos,
                ha
                sido habitada por romanos, visigodos, musulmanes y cristianos. Durante la Edad Media, Jerez fue una
                importante ciudad comercial y cultural, conocida por sus vinos y sus artesanías.</p>

            <img loading="lazy" width="260" height="400"
                srcset="../img/320px-gallo.webp 200w, ../img/480px-gallo.webp 720w, ../img/720px-gallo.webp 1100w"
                alt="Gallo azul">
            <h3>Qué ver en Jerez</h3>
            <ul>
                <li><a target="_blank" href="https://www.google.com/search?q=La catedral de Jerez">La catedral</a></li>
                <li><a target="_blank" href="https://www.google.com/search?q=El Alcazar de Jerez">El Alcazar</a></li>
                <li><a target="_blank"
                        href="https://www.google.com/search?q=La Real Escuela Andaluza de Arte Ecuestre Jerez">La Real
                        Escuela Andaluza de Arte Ecuestre</a></li>
                <li><a target="_blank" href="https://www.google.com/search?q=La Bodega Tío Pepe Jerez">La Bodega Tío
                        Pepe</a></li>
                <li><a target="_blank" href="https://www.google.com/search?q=El Museo Arqueológico Municipal Jerez">El
                        Museo
                        Arqueológico Municipal</a></li>
            </ul>
            <p>Además, Jerez es famosa por su flamenco, que se puede disfrutar en numerosos tablaos y peñas flamencas de
                la
                ciudad. Y, por supuesto, no podemos olvidar sus vinos, especialmente los famosos vinos de Jerez, que se
                pueden degustar en las bodegas de la ciudad.</p>
            <picture>
                <source media="(max-width: 799px)" srcset="../img/478px-catedral.webp">
                <source media="(min-width: 800px)" srcset="../img/717px-catedral.webp">
                <img loading="lazy" width="260" height="400" src="../img/717px-catedral.webp" alt="Catedral de Jerez">
            </picture>
        </section>
        <div class="other-categories">
            <a href="detalle3.html"><i class="fa-solid fa-angle-left"></i> Bodegas de Jerez</a>
            <a href="detalle2.html">Circuito de Jerez <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </main>
    <footer class="footer">
        <img loading="lazy" id="logo" width="110" height="80" src="../img/logo.png" alt="Logo del footer">
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i>Portada</a></li>
                <li><a href="./presentacion.html"> <i class="fa-regular fa-face-smile icon"></i>Presentación</a>
                </li>
                <li><a href="./categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
                <li><a href="./enlaces.html"><i class="fa-solid fa-link icon"></i>Enlaces</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>