<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Detalle 3 - Bodegas de Jerez</title>
    <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <img id="logo" src="../img/logo.png" alt="Logo catavinos">
            <h1>Jerez de la Frontera<i class="fa-solid fa-heart icon"></i></h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-regular fa-font-awesome icon"></i>Inicio</a></li>
                <li><a href="categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="article">
            <h2>Bodegas de Jerez</h2>
            <img src="../img/bodegas-jerez.jpg" alt="Bodegas de Jerez" style="margin-top: 10px;">
            <p>Las bodegas de Jerez son famosas en todo el mundo por la calidad de sus vinos. En la ciudad y sus
                alrededores
                se pueden encontrar numerosas bodegas, cada una con su propia historia y tradición. Visitar una bodega
                es
                una experiencia única, en la que se puede aprender sobre la elaboración de los vinos y degustar algunas
                de
                las variedades más famosas.</p>
            <img src="../img/Bodega.jpg" alt="Imagen de una bodega">
            <h3>Bodega Tío Pepe</h3>
            <p>La bodega Tío Pepe es una de las bodegas más famosas de Jerez. Fundada en 1835, la bodega cuenta con un
                impresionante sistema de criaderas y soleras, que permiten obtener algunos de los vinos más prestigiosos
                de
                la región. Durante la visita a la bodega, se puede ver el proceso de elaboración de los vinos y
                disfrutar de
                una degustación. Estas son sus botellas más famosas:</p>
            <ul>
                <li><a target="_blank" href="https://www.tiopepe.com/es-es/productos/tio-pepe">Tío Pepe Fino</a></li>
                <li><a target="_blank" href="https://www.tiopepe.com/es-es/productos/una-palma">Tío Pepe Una Palma</a>
                </li>
                <li><a target="_blank" href="https://www.tiopepe.com/es-es/productos/tio-pepe-en-rama">Tío Pepe en
                        Rama</a></li>
            </ul>

            <h3>Bodega González Byass</h3>
            <p>La bodega González Byass es otra de las bodegas más famosas de Jerez. Fundada en 1835, esta bodega cuenta
                con
                una impresionante colección de vinos, algunos de los cuales tienen más de 100 años. Durante la visita a
                la
                bodega, se puede aprender sobre la historia y la elaboración de los vinos, y disfrutar de una
                degustación. Estas son sus botellas más famosas:
            </p>
            <ul>
                <li><a target="_blank"
                        href="https://www.tiendagonzalezbyass.com/tio-pepe-dos-palmas-2022/ES0025122001.html">Tío Pepe
                        Fino Dos
                        Palmas</a></li>
                <li><a target="_blank"
                        href="https://www.tiendagonzalezbyass.com/apostoles-%28medium%29-palo-cortado-vors/ES00034NV006.html">Apóstoles</a>
                </li>
                <li><a target="_blank"
                        href="https://www.tiendagonzalezbyass.com/noe.-pedro-ximenez-vors/ES00046NV006.html">Noé</a>
                </li>
            </ul>

            <h3>Bodega Williams & Humbert</h3>
            <p>La bodega Williams & Humbert es una de las bodegas más antiguas de Jerez. Fundada en 1877, esta bodega
                cuenta
                con una impresionante colección de vinos, algunos de los cuales tienen más de 100 años. Durante la
                visita a
                la bodega, se puede aprender sobre la historia y la elaboración de los vinos, y disfrutar de una
                degustación. Estas son sus botellas más famosas:</p>
            <ul>
                <li><a target="_blank"
                        href="https://www.williams-humbert.com/producto/don-zoilo-pedro-ximenez-15-anos/">Don
                        Zoilo Pedro Ximénez</a></li>
                <li><a target="_blank" href="https://www.williams-humbert.com/producto/drysack-medium/">Dry Sack
                        Medium</a></li>
                <li><a target="_blank"
                        href="https://www.williams-humbert.com/producto/dos-cortados-solera-especial-20-anos-palo-cortado-de-jerez/">Dos
                        Cortados</a></li>
            </ul>
            <img src="../img/Vina.jpg" alt="Imagen de un Viñedo">
        </section>
        <div class="other-categories">
            <a href="detalle1.html"><i class="fa-solid fa-angle-left"></i> Historia de Jerez</a>
            <a href="detalle2.html">Circuito de Jerez <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </main>
    <footer class="footer">
        <img id="logo" src="../img/logo.png" alt="Logo del footer">
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i>Portada</a></li>
                <li><a href="./presentacion.html"> <i class="fa-regular fa-face-smile icon"></i>Presentación</a>
                </li>
                <li><a href="./categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
                <li><a href="./enlaces.html"><i class="fa-solid fa-link icon"></i>Enlaces</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>