<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Enlaces y atribuciones</title>
    <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <img id="logo" src="../img/logo.png" alt="Logo catavinos">
            <h1>Enlaces y atribuciones</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-regular fa-font-awesome icon"></i>Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="article">
            <h2>Documentación y atribuciones de derechos de autor</h2>
            <p>Todo el contenido de este sitio web, incluyendo el texto, las imágenes, los videos y los archivos de
                audio,
                se han obtenido de fuentes confiables y se han utilizado con el permiso correspondiente de los
                propietarios
                de los derechos de autor.</p>

            <p>A continuación, se presentan las fuentes de las que se ha sacado el contenido y las atribuciones de los
                derechos de autor:</p>

            <ul id="refs">
                <li><a href="https://es.wikipedia.org/wiki/Jerez_de_la_Frontera" target="_blank">Wikipedia</a>
                    Imágenes
                    obtenidas desde el archivo de la página.</li>
                <li><a href="https://www.jerez.es/" target="_blank">Ayuntamiento de Jerez de la Frontera</a>
                    Imágenes y
                    descripciones de los monumentos y lugares de interés de la ciudad.</li>
                <li><a href="https://www.gonzalezbyass.com/" target="_blank">Bodegas González Byass</a>
                    Información
                    sobre
                    los vinos de Jerez y las bodegas de González Byass.</li>
                <li><a href="https://www.williams-humbert.com/" target="_blank">Bodegas Williams & Humbert</a>
                    Información
                    sobre los vinos de Jerez y las bodegas de Williams & Humbert.</li>
                <li><a href="https://www.tiopepe.com/" target="_blank">Tío Pepe</a> Información sobre los vinos
                    de
                    Jerez y
                    la bodega de Tío Pepe.</li>
                <li><a href="https://www.circuitodejerez.com/" target="_blank">Circuito de Jerez</a>
                    Información
                    sobre los
                    eventos y las carreras que se celebran en el circuito de Jerez.</li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <img id="logo" src="../img/logo.png" alt="Logo del footer">
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i>Portada</a></li>
                <li><a href="./presentacion.html"> <i class="fa-regular fa-face-smile icon"></i>Presentación</a>
                </li>
                <li><a href="./categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
                <li><a href="./enlaces.html"><i class="fa-solid fa-link icon"></i>Enlaces</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>