<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <title>Presentación</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img id="logo" src="../img/logo.png" alt="Logo catavinos">
            <h1>Jerez de la Frontera<i class="fa-solid fa-heart icon"></i></h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-regular fa-font-awesome icon"></i>Inicio</a></li>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="article">
            <h2>Descripción del contenido del sitio web</h2>
            <img class="animated-svg" src="../img/catavinos.svg" alt="SVG de un catavinos">

            <p>Nuestro sitio web cuenta con una amplia variedad de categorías que cubren los principales lugares de
                interés
                de la ciudad de Jerez de la Frontera y sus alrededores. Desde monumentos históricos y museos, hasta
                bodegas
                de vino y eventos culturales, aquí encontrarás todo lo que necesitas para planificar tu visita a esta
                hermosa ciudad andaluza.</p>

            <p>Cada categoría incluye una página principal que ofrece un listado de elementos relacionados con la
                temática
                general, y al menos una página de detalle que sigue un formato de artículo e incluye información
                detallada
                sobre cada elemento. Cada página de detalle contiene al menos tres párrafos de texto, un listado y algún
                elemento multimedia, como una imagen o un video.</p>

            <p>Estamos seguros de que encontrarás información valiosa en cada una de nuestras categorías, y que te
                ayudará a
                descubrir los encantos de esta maravillosa ciudad y sus alrededores.</p>

            <p>¡Gracias por visitarnos!</p>

            <img src="../img/catavino.jpeg" alt="Catavino Jerez">
        </section>
    </main>
    <footer class="footer">
        <img id="logo" src="../img/logo.png" alt="Logo del footer">
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i>Portada</a></li>
                <li><a href="./presentacion.html"> <i class="fa-regular fa-face-smile icon"></i>Presentación</a>
                </li>
                <li><a href="./categorias.html"><i class="fa-regular fa-folder icon"></i>Categorías</a></li>
                <li><a href="./enlaces.html"><i class="fa-solid fa-link icon"></i>Enlaces</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>